<!DOCTYPE html>
<html ng-app="listaTelefonica">
    <head>
        <meta charset="utf-8">
        <title>Lista Telefonica</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/ui.css">
        <script src="angularjs/angular.min.js" charset="utf-8"></script>
        <script src="js/lib/uiAccordion.js" charset="utf-8"></script>
        <script src="js/lib/angular-route.js" charset="utf-8"></script>
        <script src="js/app.js" charset="utf-8"></script>
        <script src="js/controller/listaTelefonicaCtrl.js" charset="utf-8"></script>
        <script src="js/services/contatoAPIServices.js" charset="utf-8"></script>
        <script src="js/Config/configValue.js" charset="utf-8"></script>
        <script src="js/filters/nameFilter.js" charset="utf-8"></script>        
        <script src="js/filters/elipsis.js" charset="utf-8"></script>
        <script src="js/directives/uiAlertDirective.js" charset="utf-8"></script>
        <script src="js/directives/uiDateDirective.js" charset="utf-8"></script>
    </head>
    <body ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
            <h3 ng-bind="app"></h3>
            <ui-accordions>
                <ui-accordion title="Accordion 1">
                    O mundo da voltas
                </ui-accordion>

                <ui-accordion title="Accordion 2">
                    A vida gira
                </ui-accordion>

                <ui-accordion title="Accordion 3">
                    O tempo não para.
                </ui-accordion>
            </ui-accordions>
            
            <ui-alert ng-show="error" title="Ops, aconteceu um erro." message="error"></ui-alert>
            <input class="form-control" placeholder="Pesquisar" ng-model="buscaNome"/>
            <table class="table">
                <tr>
                    <th></th>
                    <th><a ng-click="ordenaPor('nome')">Nome</a></th>
                    <th><a ng-click="ordenaPor('telefone')">Telefone</a></th>
                    <th>Operadora</th>
                    <th>Data</th>
                    <th></th>
                </tr>
                <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos| filter: {nome: buscaNome} |orderBy: ordenar: decrescente">
                    <td><input type="checkbox" name="" value="" ng-model="contato.selecionado"></td>
                    <td>{{contato.nome| uppercase | name| elipsis:15}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora.nome}}</td>
                    <td>{{contato.data| date:'dd/MM/yyyy'}}</td>
                    <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
                </tr>
            </table>
            <form name="contatoForm">
                <input class="form-control" type="text" name="nome" value="" ng-model="contato.nome" placeholder="Nome" ng-required="true" ng-minlength="10" />
                <input class="form-control" type="text" name="telefone" value="" ng-model="contato.telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
                <input class="form-control" type="text" name="data" value="" ng-model="contato.data" placeholder="Data" ui-date/>
                <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras|orderBy:'nome'">
                    <option value="">Selecione uma operadora</option>
                </select>
            </form>
            <button class="btn btn-primary btn-block" type="button" name="" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar contato</button>
            <button class="btn btn-danger btn-block" type="button" name="" ng-click="apagarContato(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar contato</button>
            
            <div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
                Por favor preencha o Nome.
            </div>
            <div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
                O campo nome deve conter 10 caracteres.
            </div>
            <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
                Por favor preencha o telefone.
            </div>
            <div ng-show="contatoForm.telefone.$error.pattern && contatoForm.telefone.$dirty" class="alert alert-danger">
                O campo telefone deve ser preenchido no seguinte formato DDDDD-DDDD
            </div>
        </div>
        <div ng-include="'views/footer.html'"></div>
    </body>
</html>
